/* body part */
body{
    background-color: #f5f5f9;
}


.hero-area{
    background-image: url(Assets/Hero-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    
}



/* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
 
    font-style: normal;
}
/* all button style */

/* text style */


.button{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: #FFFFFF;
  font-style: normal;
  background-color: #4e47ff;
  border-radius: 5px;
  cursor: pointer;
  
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button:hover{
    background-color: #3a35cc;
    transform: scale(1.05);

}

/* perple color */
.perple{
    color: #4e47ff;
}
/* --------------------------------------------------------------------------------------------------------------------------- */


/* nav bar design */
.nav-bar{
    /* max-width: 1140px;
    margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 158px;  
}
.logo{
    width: 99px;
    height: 51px;
    font-size: 34px; 
    font-weight: bold; 
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  
    font-style: normal; 
}
.nav-bar button{
    padding: 12px 36px;
    
}

.banner{
    /* display: flex; */
    /* max-width: 1140px;
    margin: 0 auto; */
    justify-content: center;
    align-items: center;
    margin-bottom: 158px;   
}
.both{
    text-align: center;
}

.both button{
    margin-bottom: 152px;
}

.banner h2{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    margin-bottom: 37px;
    text-align: center;
}
.banner button{
    width: 174px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    /* text-align: center; */
    
}
/* action section design */
.action{
    margin-top: 158px;
    margin-bottom: 158px;
}
.action-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column-1 h2{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.column-1 p{
    font-size: 24px;
    color: #252432;
}
.column-1 button{
    width: 229px;
    height: 48px;
}
.column-2 img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/* Productive users section design */
.productive{
    background-color:#d6d5f4;
    text-align: center;
    padding: 50px 142px;
    margin-bottom: 158px;
    border-radius: 10px;
}

.productive h3{
    font-size: 38px;
    font-weight: bold;
    color: #252432;   
}
.options{
    display: flex;
    justify-content: space-evenly;
}
.title{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 80px;
    font-weight: bold;
    color: #4e47ff;
    margin-bottom: 0;
}
/* users review section */
.review{
    margin-bottom: 158px;
    height: 342px;
}
.title-1{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
}
.title-1 h2{
    text-align: center;
}
.users-view{
    display: flex;
    justify-content: space-evenly;
}
.icons{
    display: flex;
}
.box-1{
    background-color: #FFFFFF;
    margin-right: 20px;
    border-radius: 10px;
    padding: 24px 24px;
}
/* }
.box-1 img{
    border-radius: 50%;
} */
.reviewer{
    display: flex;
    align-items: center;
    gap: 12px;
}
.reviewer img{
    border-radius: 50%;
    height: 40px;
}
.rev-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
}
.rev-info p{
    margin: 0 0 2px 0;
}

/* Get intouch section */
.parent-div{
    height: 632px;
}
.child-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col-1{
    width: 528px;
    height: 232px;
}
.col-1 h2{
    font-size: 97px;
    font-weight: bold;
}
.col-2 form{
    height: 490px;
    width: 497px;
    /* background-color: antiquewhite; */
}
.col-2 label{
    height: 22px;
    font-size: 18px;
    margin-bottom: 10px;
}
.col-2 input{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    margin-bottom: 19px;
    border-radius: 6px;
    margin-top: 10px;
}
.col-2 textarea{
    width: 100%;
    height: 135px;
    box-sizing: border-box;
    margin-bottom: 19px;
    padding-top: 20px;
    border-radius: 6px;
    margin-top: 10px;
}
.col-2 button{
    height: 62px;
    width: 100%;
    border-radius: 6px;
}
/* Footer section*/
footer{
    background-color: #FFFFFF;
}

.footer-div{
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    height: 428px;
    /* background-color: bisque; */
}
.sub-div{
    text-align: center;
    height: 221px;
    /* width: 531px; */
    /* margin: 104px 455px 103px 454px; */
    padding-top: 50px;
    
}
.sub-div h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  
    font-style: normal; 
    font-size: 100px;
    color: #4e47ff;
    /* font-weight: bold; */
}
.logo-div{
    height: 121px;
    margin-bottom: 0px;
}
.footer-text{
    margin-top: 20px;
    color: #8987A1
}
.footer-text ul{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.footer-text li{
    list-style: none;
    margin-right: 48px;   
}

.footer-text li a{
    text-decoration: none;
    color: #8987A1;
}
